*.o
*.crt
*.csr
*.key
*.p12
*.pem
*.so
*.old
ca.crl
ca.db
ca.db.attr
ca.db.attr.old
ca.db.old
ca.domain.txt
ca.srl
ca.srl.old
shim.cer
shim_cert.h
certdb/
Cryptlib/OpenSSL/libopenssl.a
Cryptlib/libcryptlib.a